@use "../../../styles/variables" as *;

.table-container {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    overflow: hidden;

    .table.table-scroll {
        width: 100%;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
        background-color: $white;
        color: $black;
        table-layout: fixed;
        /* This is correct! */

        thead {
            background-color: $primary;
            color: $white;

            th {
                height: 3.25rem;
                box-sizing: border-box;
                padding: 0.5rem 1rem;
                text-align: left;
                font-weight: normal;

                // The th itself is no longer a flex container
                .th-content {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .table-header {
                    // The wrapper for the title and icon
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    overflow: hidden; // Hide overflow within the header text

                    span.title {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        tbody {
            .empty-state {
                text-align: center;
                padding: 1rem;
                color: gray;
            }

            tr {
                td.table-cell {
                    padding: 0.5rem 1rem;
                    border-bottom: 1px solid $border-color-light;
                    // white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.address-cell {
                        white-space: normal;
                        word-break: break-word;
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
        }
    }

    .pagination-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 0.5rem;

        .pagination {
            background-color: $white;
            display: flex;
            align-items: center;
            padding: 0.2rem;
            border-radius: 2rem;

            .pagination-pages {
                display: flex;
                gap: 0.25rem;
            }

            .pagination-button:last-child {
                transform: rotate(180deg);
            }
        }

        button {
            line-height: 24px;
            text-align: center;
            font-size: 14px;
            border-radius: 50%;
            transition: background-color 0.2s ease-in-out;

            &.active {
                background-color: $primary;
                color: $white;
            }

            padding: 0;
            margin: 0;
            height: 24px;
            width: 24px;
            border: none;
            outline: none;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                height: 20px;
                width: 16px;
                object-fit: contain;
                fill: currentColor;
            }

            cursor: pointer;

            &:hover:not([disabled]) {
                background-color: $primary;
                color: $white;
            }
        }
    }
}