@use "../../../styles/variables" as *;

.relationship-manager-page {
    .buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;

        button {
            margin-top: 0;
            box-shadow: none;
        }
    }
}

/* ADD RM FORM */
.add-rm-form {
    background-color: $white;
    padding: clamp(1rem, 4vw, 2rem) clamp(1rem, 5vw, 1.5rem);

    form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 1rem;

        margin-block: 1rem;

        label {
            display: block;
            font-size: 0.9rem;
            color: $gray-600;
            font-weight: 300;
            text-wrap: nowrap;
        }

        div {
            width: 100%;

            .input-field {
                padding: 0.75rem;
                border-radius: 5px;
                font-size: inherit;
                outline: none;
                width: 100%;
                box-sizing: border-box;
                background-color: #fafafa;
                border: 1px solid #f0f0f0;

                &:disabled {
                    color: $gray-400;
                }
            }
        }
    }

    .actions {
        button {
            .text {
                font-weight: 400;
            }
        }

        .generate-password {
            box-shadow: none;
            border-radius: 5px;

            margin-bottom: 1rem;
        }

        .save-cancel-btn {
            button:first-child {
                box-shadow: none;
            }

            display: flex;
            gap: 1rem;
        }
    }
}

.rm-member-list-page, .rm-projects-list-page {
    .header-section {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        margin-bottom: 1rem;

        .combobox-container .input-field {
            border-color: white;
            padding: 0.75rem;
            border-radius: 1.5rem;
            box-shadow: 0px 0px 14px 0px rgba(104, 120, 141, 0.1411764706);
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        section {
            display: flex;
        }
    }

    .parameter-dropdown-container {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 1rem;

        .parameter-dropdown-button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            width: 12rem;
            height: 40px;
            padding: 0.3rem 1.3rem;
            border-radius: 100px;
            box-shadow: 0px 0px 8px 0px $border-color-light;
            border: none;
            outline: none;
            cursor: pointer;
            color: $primary;
            font-weight: 700;
            font-size: 14px;
            background-color: $white;

            svg {
                margin-top: 0.5rem;
            }
        }

        .dropdown-view {
            position: absolute;
            z-index: 500;
            top: 2.8rem;
            max-height: 200px;
            overflow-y: auto;


            .parameter-dropdown-button {
                margin-bottom: 0.3rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .add-rm-form form {
        grid-template-columns: 1fr !important;
    }
}